/* 9/26/2022 - Just a note, Dark Matter uses Adobe Boucherie-Block font for headers.
If anyone knows how to license Adobe fonts for use in free Foundry Modules, please let
us know asap! - Android

h1 {
	font-family: boucherie-block, sans-serif;
	font-style: normal;
	font-weight: 400; }

h2 {
	font-family: boucherie-block, sans-serif;
	font-style: normal;
	font-weight: 400; }

h3 {
	font-family: boucherie-block, sans-serif;
	font-style: normal;
	font-weight: 400; }
*/

#dm-grax {
	display: flex;
	justify-content: space-between;
	width: 700px;
}
	
#dm-grax .statblock-col {
	display: flex;
	flex-direction: column;
	width: 330px;
	margin-right: 5px;
	border-width: 3px 0px;
	border-style: double;
	border-color: var(--dark-color);
	background-color: var(--bg-block);
}

#dm-grax .statblock-text {
	text-indent: -5px;
	padding-left: 10px;
}

.hint {
	width: 350px;
	margin-left: 0px;
}

.hint hr {
	border-top: 3px double var(--dark-color);
}

.halfhint {
	width: 340px;
	margin-left: 5px;
}

.halfhint hr {
	border-top: 2px solid var(--dark-color);
}

